<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id='home' class="navbar-brand" href="#home">Grey Delamar</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id='about' href="#about">About</a></li>
        <li><a id='project' href="#project">Portfolio</a></li>
        <li><a id='contact' href="#contact">Conctact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class='logo'>
          <img class='logonav' src="../images/MyLogo.png">
        </li>
      </ul>
    </div>
  </div>
</nav>


<div id='hometext' class="container">
  <div class="parallax">
    <div class='home'>
      <h1 id="software">FULL STACK DEVELOPER</h1>
      <h1 id='galvanize'>GALVANIZE STUDENT</h1>
      <h1 id='words'>Effective Solutions</h1>
    </div>
  </div>
</div>


<!-- About -->
<div class="about container">
  <h1 class='aboutTitle'> ABOUT </h1>
  <div class='aboutdiv'>
    <div id='pic'> </div>
    <div class='abouttext'> Hello! My name is Grey Delamar. I am a Full Stack developer from Grand Rapids Michigan. I studied coding at Galvanize where I learned HTML, CSS, JavaScript, Node.js, Express, Angular and PSQL and much more!</div>


    <a class="btn btn-primary centered" href='../files/Grey-Delamar-Resume.pdf' download id='resume'>Resume</a>

    <div class="links">
      <div class="row">


        <a id='contactlink' href="#contactlink">
          <div class="col-sm-4">
            <i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i>
          </div>
        </a>

        <a href='https://github.com/GreyDelamar'>
          <div class="col-sm-4">
            <i class="fa fa-github fa-4x" aria-hidden="true"></i>
          </div>
        </a>
        <a href='https://www.linkedin.com/in/grey-delamar-55a96992?trk=nav_responsive_tab_profile_pic'>
          <div class="col-sm-4">
            <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
<div id="city"></div>

<!-- Portfolio -->
<div id='project' class="projects container">
  <h1 class='projectTitle'> Portfolio </h1>
  <div class="projectBox1 row">


    <!--Crypt POP UP -->
    <div id="crypt">
      <h2 id='titlepop'> Crypt-Watcher </h2>
      <div id='imagebox'>
        <div>
          <img class='cryptPreview' src="../images/CCW-site-pic.png" alt="Picture of the Crypt-Watcher app">
        </div>
      </div>
      <p id='p-pop'>
        A place to find all cryptocurrencies, there price, and the % change over 24 hours. Also convert your currency to the US dollar!
      </p>
      <a class='weblink' href='https://crypt-watcher.firebaseapp.com/'>Visit site </a>
      <p id='p-pop'>
        HTML | CSS | JavaScript | jQuery | AJAX | AGILE
      </p>
      <button class="crypt_close btn btn-primary">Close</button>
    </div>

    <!--Scurry POP UP -->
    <div id="scurry">
      <h2 id='titlepop'> Scurry </h2>
      <div id='imagebox'>
        <div>
          <img class='scurryPreview' src="../images/scurry-site-pic.png" alt="Picture of the scurry app">
        </div>
      </div>
      <p id='p-pop'>
        An app that allows you to create and organize events for the public, while allowing you to control your existing events and join other events.
      </p>
      <a class='weblink' href='https://scurry-app.herokuapp.com/'>Visit site </a>
      <p id='p-pop'>
        JavaScript | Express | Node.js | PostgreSQL | Knex | Passport.js | Bootstrap | HTML | CSS | AGILE
      </p>
      <button class="scurry_close btn btn-primary">Close</button>
    </div>


    <!-- Crypt MAIN -->
    <div class='col-sm-4 container'>
      <a href=#>
        <div class='hvr-grow-shadow proj1 crypt_open'></div>
      </a>
      <h3 class='porttext'>Crypt-Watcher</h3>
    </div>

    <div class="col-sm-4"></div>

    <div class="col-sm-4 ">
      <a href=#>
        <div class='hvr-grow-shadow proj2 scurry_open'></div>
      </a>
      <h3 class='scurrytext'>Scurry</h3></div>
  </div>


  <div class="projectBox2 row">

    <!--DaChat POP UP -->
    <div id="dachat">
      <h2 id='titlepop'> DaChat </h2>
      <div id='imagebox'>
        <div>
          <img class='dachatPreview' src="../images/dachat-site-pic.png" alt="Picture of the DaChat app">
        </div>
      </div>
      <p id='p-pop'>
         An app that creates a place to chat anonymously between multiple users.
      </p>
      <a class='weblink' href='https://stormy-dusk-74520.herokuapp.com/'>Visit site </a>
      <p id='p-pop'>
        Express | Handlebars | Node.js | JavaScript | CSS | AGILE
      </p>
      <button class="dachat_close btn btn-primary">Close</button>
    </div>

    <!--Galvanize Reads POP UP -->
    <div id="greads">
      <h2 id='titlepop'> Galvanize Reads </h2>
      <div id='imagebox'>
        <div>
          <img class='greadsPreview' src="../images/greads-site-pic.png" alt="Picture of the galvanize app">
        </div>
      </div>
      <p id='p-pop'>
        A book app that allows you to create, read, edit, and delete books.
      </p>
      <a class='weblink' href='https://whispering-crag-47798.herokuapp.com/'>Visit site </a>
      <p id='p-pop'>
        HTML | CSS | Knex | PostgreSQL | Express | Handlebars | Node.js | AGILE
      </p>
      <button class="greads_close btn btn-primary">Close</button>
    </div>


    <div class='col-sm-4'>
      <a href=#>
        <div class='hvr-grow-shadow proj3 dachat_open'></div>
      </a>
      <h3 class='dachattext'>DaChat</h3>
    </div>

    <div class='col-sm-4'></div>

    <div class="col-sm-4">
      <a href=#>
        <div class='hvr-grow-shadow proj4 greads_open'></div>
      </a>
      <h3 class='readtext'>Galvanize Reads</h3>
    </div>
  </div>
</div>


<div id="summer"></div>


<!-- Contacts -->

<h1 class='contactTitle'>Contact</h1>
<div class="contactbox container">
  <form class="form-horizontal" action='/job' method="post" id="form">
    <fieldset>
      <div class="form-group">
        <label for="First Name" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name">
        </div>
      </div>
      <div class="form-group">
        <label for="Last Name" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="Company" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="company" id="company" placeholder="Company">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="email" id="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="5" name="message" id="message" placeholder="Leave your message here!!"></textarea>
          <span class="help-block">Love to hear from you!</span>
        </div>
        <input type="submit" class="submit" id="form">
      </div>


    </fieldset>
  </form>

</div>
