body {
  font-family: 'Oswald', sans-serif;
  width: 100vw;
}

nav {
  width: 100vw;
}

a {
  color: #00B7FF;
}

p {
  color: black;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

.parallax {
  overflow: hidden;
  background-image: url("../images/mountain.jpg");
  width: 110vw;
  height: 110vh;
  background-attachment: fixed;
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
}

#hometext {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 130vh;
  min-width: 110vw;
  margin-left: -8%;
  margin-top: -5%;
}

.home {
  margin-top: 25vh;
  margin-left: 10vw;
}

.logonav {
  height: 40px;
  width: 40px;
}

.submit {
  margin-left: 87vw;
}

#software {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 65px;
  margin-top: 10%;
  overflow: hidden;
}

#galvanize {
  color: #F7901E;
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 65px;
}

#words {
  color: #F1FAEE;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 65px;
}


/*about section*/

.aboutdiv {
  display: block;
  clear: both;
  min-height: 45vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

.aboutTitle {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 110vh;
}

.abouttext {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 4vh;
  margin-right: auto;
  margin-left: auto;
  width: 50vw;
  /*overflow: hidden;*/
}

#pic {
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-image: url("../images/ProPic.jpg");
  background-repeat: no-repeat;
  width: 210px;
  height: 210px;
}

#resume {
  margin-top: 4vh;
  margin-left: 36.5vw;
  margin-right: auto;
  width: 10vw;
}

.links {
  margin-top: 5vh;
  margin-left: 19vw;
}

#city {
  clear: both;
  margin-top: 10vh;
  display: block;
  background-image: url("../images/mt.evans.jpg");
  background-repeat: no-repeat;
  height: 70vh;
  width: 102vw;
}


/*projects section*/

.projects {
  min-height: 90vh;
  width: 102vw;
}

.projectTitle {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.projectBox1 {
  display: block;
  margin-left: 13vw;
  margin-bottom: 12vh;
  width: 75vw;
}

.projectBox2 {
  display: block;
  margin: auto;
  margin-left: 17vw;
  width: 75vw;
}

.proj1 {
  height: 22vw;
  width: 25vw;
  background-image: url('../images/Crypt-Icon.png');
  background-repeat: no-repeat;
}

.proj2 {
  height: 22vw;
  width: 25vw;
  background-repeat: no-repeat;
  background-image: url('../images/scurrylogo.gif');
}

.proj3 {
  height: 18vw;
  width: 25vw;
  background-image: url('../images/dachat-icon.png');
  background-repeat: no-repeat;
}

.proj4 {
  height: 18vw;
  width: 25vw;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
}

.porttext {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-left: 3vw;
  margin-top: 4vh;
}

.scurrytext {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-left: 4vw;
  margin-top: 3vh;
}

.dachattext {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-left: -4vw;
  margin-top: 4vh;
}

.readtext {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-left: -4vw;
  margin-top: 4vh;
}

#summer {
  clear: both;
  margin-top: 20vh;
  display: block;
  background-image: url("../images/mountain2.jpg");
  background-repeat: no-repeat;
  height: 90vh;
  width: 102vw;
}

legend {
  font-size: 39px;
  text-align: center;
}

form {
  margin-top: 5vh;
}

fieldset {
  margin-right: 10vw;
}

.contactTitle {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.contactbox {
  min-height: 70vh;
  width: 102vw;
}


/*popup*/

#crypt {
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  height: 75vh;
  width: 75vw;
}

#scurry {
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  height: 75vh;
  width: 75vw;
}

#dachat {
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  height: 75vh;
  width: 75vw;
}

#greads {
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  height: 75vh;
  width: 75vw;
}

#titlepop {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#p-pop {
  margin-top: 3vh;
  text-align: center;
}

.weblink {
  display: block;
  width: 5vw;
  margin: auto;
}

.cryptPreview {
  display: block;
  margin: auto;
  height: 40vh;
  width: 40vw;
}

.scurryPreview {
  display: block;
  margin: auto;
  height: 40vh;
  width: 40vw;
}

.dachatPreview {
  display: block;
  margin: auto;
  height: 40vh;
  width: 40vw;
}

.greadsPreview {
  display: block;
  margin: auto;
  height: 40vh;
  width: 40vw;
}

.crypt_close {
  margin-left: 65vw;
}

.scurry_close {
  margin-left: 65vw;
}

.dachat_close {
  margin-left: 65vw;
}

.greads_close {
  margin-left: 65vw;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
